<div class="alert alert-white alert-dismissible fade show border" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="actionBox">
        <ul class="commentList">
            {% if comments_show is defined %}
                {% for c in comments_show %}
                    {% if c.comment_status == 'Approved' %}
                        <li id="{{ c.comment_id|e }}">
                            <div class="commentText">
                                <p class="">{{ c.comment_content|e|markdown }}</p> <span
                                        class="date sub-text">on {{ c.comment_date|e|date(" M d, y") }}</span>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </ul>
        <form class="form-inline mt-2 mt-md-0" role="form" action="{{ path_for('blog-add-comment', { 'id': post_show.post_id }) }}"
              method="post">
            <div class="form-group">
                <textarea class="form-control mr-sm-2" placeholder="Your comments" id="comment_content"
                          name="comment_content"></textarea>
                <small id="commentHelp" class="form-text text-muted">Comments need to be approved prior to appearing on the site.</small>
            </div>
            <input type="hidden" name="comment_post_id" value="{{ post_show.post_id }}">
            <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
            <input type="hidden" name="csrf_value" value="{{ csrf.value }}">
            <input class="btn btn-default" type="submit" name="submit" value="Add">
        </form>
    </div>
</div>
