{{ include('header.html') }}
<div class="container">
    <section class="header">
        <h2 class="title">A dead simple, responsive boilerplate.</h2>
        <a class="button button-primary"
           href="https://github.com/dhg/Skeleton/releases/download/2.0.4/Skeleton-2.0.4.zip"
           onclick="_gaq.push(['_trackEvent', 'skeleton', 'download'])">Download</a>
        <div class="value-props row">
            <div class="four columns value-prop">
                <img class="value-img" src="images/feather.svg">
                Light as a feather at ~400 lines &amp; built with mobile in mind.
            </div>
            <div class="four columns value-prop">
                <img class="value-img" src="images/pens.svg">
                Styles designed to be a starting point, not a UI framework.
            </div>
            <div class="four columns value-prop">
                <img class="value-img" src="images/watch.svg">
                Quick to start with zero compiling or installing necessary.
            </div>
        </div>
    </section>
    {{ include('nav.html.twig') }}
    {% for p in posts %}
        {% if p.post_status == 'Published' %}
            <div class="docs-section" id="{{ p.post_id }}">
                <h1>{{ p.post_title|e }}</h1>
                <p>by {{ p.post_author|e }}</p>
                <p>Posted on {{ p.post_date|e|date("m/d/Y" ) }}</p>
                <a href="/blog/post/{{ p.post_id }}">
                    <img src="/images/{{ p.post_img }}" alt="">
                </a>
                <p>{{ p.post_content|slice(0, 200) }} ...</p>
                <a class="btn btn-outline-dark my-2 my-sm-0" href="/blog/post/{{ p.post_id }}">Read More</a>
            </div>
        {% endif %}
    {% endfor %}

    {% if message is defined and message is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{- message|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if error is defined and error is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{- error|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>
{{ include('footer.html') }}