{{ include('header.html') }}
<div class="container">

    {{ include('nav.html.twig') }}

    {% if message is defined and message is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{- message|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if error is defined and error is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{- error|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <div class="row mb-2">
        {% for p in posts %}
            {% if p.post_status == 'Published' %}

                <div class="col-md-6">
                    <div class="row no-gutters border rounded
                    overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
                         id="{{ p.post_id }}">
                        <div class="col p-4 d-flex flex-column position-static">
                            <strong class="d-inline-block mb-2 text-primary">
                                {% for c in categories %}
                                    {% if c.cat_id == p.post_category_id %}
                                        {{ c.cat_title }}
                                    {% endif %}
                                {% endfor %}
                            </strong>
                            <h3 class="mb-0">{{ p.post_title|e }}</h3>
                            <div class="mb-1 text-muted">{{ p.post_date|e|date("M d" )|e }}</div>
                            <p class="card-text mb-auto">{{ p.post_content|slice(0, 115)|e }} ...</p>
                            <a href="/blog/post/{{ p.post_id|e }}" class="stretched-link">Continue reading</a>
                        </div>
                        <div class="col-auto d-none d-lg-block">
                            <img class="img-responsive fit-image" src="/images/{{ p.post_img|e }}">
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>

</div>
{{ include('footer.html') }}