{{ include('admin/admin_header.html.twig') }}
<div class="container">
    {{ include('admin/admin_nav.html.twig') }}
    <div class="docs-section">
        <table class="table table-sm table-hover table-dark">
            <thead>
            <tr>
                {#<th scope="col">ID</th>#}
                <th scope="col">Author</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col">Tags</th>
                <th scope="col">Comments</th>
                <th scope="col">Date</th>
                <th scope="col" colspan="2">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for p in posts %}
                <tr>
                    {#<td>{{ p.post_id }}</td>#}
                    <td>{{ p.post_author }}</td>
                    <td>{{ p.post_title }}</td>
                    <td>
                        {% for c in categories %}
                            {%  if c.cat_id == p.post_category_id %}
                                {{  c.cat_title }}
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ p.post_status }}</td>
                    <td><img width="100%" src="../images/{{ p.post_img }}" alt="image"></td>
                    <td>{{ p.post_tags }}</td>
                    <td>{{ p.post_comment_count }}</td>
                    <td>{{  p.post_date|e }}</td>
                    <td><a href="/admin/posts/edit/{{ p.post_id }}">Edit</a></td>
                    <td><a href="/admin/posts/delete/{{ p.post_id }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if message is defined and message is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{- message|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if error is defined and error is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{- error|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>
{{ include('admin/admin_footer.html') }}