{{ include('admin/admin_header.html.twig') }}
<div class="container">
    {{ include('admin/admin_nav.html.twig') }}

    {% if message is defined and message is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{- message|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if error is defined and error is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{- error|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    <form action="{{ path_for('admin-add-post') }}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="post_title">Title</label>
            <input class="form-control" type="text" id="post_title" name="post_title">
        </div>
        <div class="form-group">
            <label for="post_category">Category</label>
            <select class="form-control" id="post_category" name="post_category">
                {% if categories is defined %}
                    {% for c in categories %}
                        <option value="{{ c.cat_id }}">{{ c.cat_title }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="form-group">
            <label for="post_author">Author</label>
            <input class="form-control" type="text" id="post_title" name="post_author">
        </div>
        <div class="form-group">
            <label for="post_status">Status</label>
            <select class="form-control" id="post_status" name="post_status">
                <option value="Draft">Draft</option>
                <option value="Published">Publish</option>
            </select>
        </div>
        <div class="form-group">
            <label for="post_img">Image</label>
            <input type="file" class="form-control-file" id="post_img" name="post_img">
        </div>
        <div class="form-group">
            <label for="post_tags">Tags</label>
            <input class="form-control" type="text" id="post_tags" name="post_tags">
        </div>
        <div class="form-group">
            <label for="post_content">Content</label>
            <textarea class="form-control" name="post_content" id="post_content"></textarea>
        </div>
        <input class="btn btn-outline-dark my-2 my-sm-0" type="submit" name="submit" value="Add Post">
        <a class="btn btn-outline-dark my-2 my-sm-0" href="{{ path_for('admin-list-posts', {
            'error': '',
            'message': '',
        }) }}">Return to list of posts</a>
    </form>
</div>
{{ include('admin/admin_footer.html') }}