{{ include('header.html') }}
<div class="container">
    {{ include('admin/admin_nav.html.twig') }}
    <div class="docs-section">
        <h1>Categories Section</h1>
        <p>You may also edit or delete individual categories.</p>
        <form action="{{ path_for('add-update-category') }}" method="post">
            <div class="row">
                <div class="six columns">
                    {% if category_edit is defined %}
                        <label for="cat_title">Edit Category</label>
                    {% else %}
                        <label for="cat_title">Add Category</label>
                    {% endif %}
                    <input class="u-full-width" type="text" id="cat_title" name="cat_title"
                            {% if category_edit is defined %}
                                value="{{ category_edit.cat_title }}"
                            {% endif %}
                    >
                    {% if category_edit is defined %}
                        <input type="hidden" value="{{ category_edit.cat_id }}" name="cat_id" id="cat_id">
                    {% endif %}
                </div>
            </div>
            {% if category_edit is defined %}
                <input class="button-primary" type="submit" name="submit" value="Edit Category">
            {% else %}
                <input class="button-primary" type="submit" name="submit" value="Add Category">
            {% endif %}
        </form>
    </div>
    <div class="docs-section">
        <table class="u-full-width">
            <thead>
            <tr>
                {#<th>ID</th>#}
                <th>Title</th>
                <th colspan="2">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for c in categories %}
                <tr>
                    {#<td>{{ c.cat_id }}</td>#}
                    <td>{{ c.cat_title }}</td>
                    <td><a href="/admin/categories/edit/{{ c.cat_id }}">Edit</a></td>
                    <td><a href="/admin/categories/delete/{{ c.cat_id }}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{{ include('footer.html') }}