{{ include('admin/admin_header.html.twig') }}
<div class="container">
    {{ include('admin/admin_nav.html.twig') }}
    <div class="docs-section">
        <table class="table table-sm table-hover table-dark">
            <thead>
            <tr>
                {#<th scope="col>ID</th>#}
                <th scope="col">Username</th>
                <th scope="col">Firstname</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Image</th>
                <th scope="col">Role</th>
                <th scope="col">Approve</th>
                <th scope="col">Unapprove</th>
                <th scope="col" colspan="2">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% if users is defined %}
                {% for u in users %}
                    <tr>
                        {#<td>{{ u.user_id }}</td>#}
                        <td>{{ u.user_username }}</td>
                        <td>{{ u.user_firstname }}</td>
                        <td>{{ u.user_lastname }}</td>
                        <td>{{ u.user_email }}</td>
                        <td><img width="100%" src="../images/users/{{ u.post_img }}" alt="image"></td>
                        <td>{{ u.user_role }}</td>
                        <td><a href="/admin/users/approve/{{ u.user_id }}">Approve</a></td>
                        <td><a href="/admin/users/unapprove/{{ u.user_id }}">Unapprove</a></td>
                        <td><a href="/admin/users/edit/{{ u.user_id }}">Edit</a></td>
                        <td><a href="/admin/users/delete/{{ u.user_id }}">Delete</a></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>

    {% if message is defined and message is not empty %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{- message|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}

    {% if error is defined and error is not empty %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{- error|e -}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
</div>
{{ include('admin/admin_footer.html') }}