{{ include('admin/admin_header.html.twig') }}
<div class="container">
    {{ include('admin/admin_nav.html.twig') }}
    <div class="docs-section">
        <h1>Admin Section</h1>
        <p>Hello {{ session.user_firstname|e }}!</p>
        {{ include('admin/admin_widgets.html.twig') }}
    </div>
    <div class="docs-section">
        <div id="columnchart_material" class="docs-section u-max-full-width"></div>
    </div>
</div>
{{ include('footer.html') }}